.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin
**/config/config.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# 特殊文件
backend/resource/packed.go
backend/resource/template/client.html
backend/resource/template/admin.html
backend/resource/public/static
auto-imports.d.ts
backend/config.yaml